@import "../../../variables";
.datatable{
  height: 100%;
  table{
    text-align: left;
    border: none;
    width: 100%;
    border-collapse: collapse;
    thead{
      border: none;
      background-color: $light;
      th{
        border: none;
        padding: 1rem 1rem;
        &:first-child{
          border-radius: 8px 0px 0px 8px;
        }
        &:last-child{
          border-radius: 0px 8px 8px 0px;
        }
      }
    }
    tbody{
      tr{
        position: relative;
        &:first-child{
          border-radius: 8px 0px 0px 8px;
        }
        &:last-child{
          border-radius: 0px 8px 8px 0px;
        }
        &:nth-child(even) {
          background-color: darken($light, 1%);;
        }
        &:hover{
          transform: scale(1.001) translateY(-1px);
          &:after{
            content: '';
            position: absolute;
            left: 2px;
            right: 2px;
            top: 2px;
            bottom: 2px;
            background-color: rgba($green,10%);
            box-shadow: rgba($darkGreen,5%) 0px 3px 16px;
            z-index: -1;
            border-radius: 8px;
          }
        }
        td{
          vertical-align: middle;
          padding: .5rem 1rem;
          position: relative;
          max-width: 12vw;
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 15%;
            bottom: 15%;
            width: 1px;
            background-color: rgba($dark,5%);
          }
          // &:after{
          //   content: '';
          //   position: absolute;
          //   right: 0;
          //   top: 15%;
          //   bottom: 15%;
          //   width: 1px;
          //   background-color: rgba($dark,5%);
          // }
          &:first-child{
            &:before{
              content: none;
            }
          }
          &:last-child{
            &:after{
              content: none;
            }
          }
          &.empty{
            background: repeating-linear-gradient(-45deg,rgba($dark,5%),rgba($dark,5%) 10px,rgba($dark,2%) 10px,rgba($dark,2%) 20px);
            opacity: .5;
          }
          .actions{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            button{
              padding: .5rem;
              margin: .1rem;
              border-radius: 4px;
              border: none;
              background-color: $lightGreen;
              font-weight: 600;
              color: $white;
              cursor: pointer;
              &:hover{
                transform: scale(1.01) scale(1.03);
              }
              &.edit{
                background-color: $blue;
              }
              &.delete{
                background-color: $red;
              }
            }
          }
          .badge a{
            padding: .5rem;
            margin: .1rem;
            border-radius: 4px;
            background-color: $darkGreen;
            font-size: .9rem;
            text-decoration: none;
            color: $white;
            display: inline-block;
            cursor: pointer;
            &:hover{
              transform: scale(1.01) scale(1.03);
            }
          }
          .phones{
            display: flex;
            flex-wrap: wrap;
            a.tel{
              color: $darkGreen;
              text-decoration: none;
              padding: .5rem;
              border-radius: 4px;
              background-color: rgba($darkGreen,5%);
              margin: .1rem;
              font-size: .8rem;
            }
          }
          a.tel:hover{
            background-color: rgba($darkGreen,10%);
          }
          .map{
            display: flex;
            flex-wrap: wrap;
            // padding: 3px;
            iframe{
              border:1px solid rgba($darkGreen,50%);
              border-radius: 5px;
              display: block;
            }
            .iframe-button{
              width: 100%;
              padding: .5rem;
              margin: .5rem;
              border-radius: 4px;
              border: none;
              background-color: rgba($darkGreen,10%);
              font-size: .8rem;
              color: $darkGreen;
              text-align: center;
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              white-space: nowrap;
              cursor: pointer;
            }
          }
          .image{
            width: 70px;
            height: 70px;
            display: inline-block;
            img{
              width: 100%;
              height: 100%;
              padding: .1rem;
              background-color: rgba($green,10%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .footer{
    border: none;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: $white;
    position: sticky;
    bottom: 0px;
    .page-size{
      select{
        margin-right: 1.5rem;
      }
      .results{
        font-weight: 600;
        font-size: 1rem;
      }
    }
    .paggination{
      display: flex;
      justify-content: space-between;
      align-items: center;
      select{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
      }
      .nav{
        margin-left: 1.5rem;
        button{
          padding: .7rem 1rem;
          margin: 0rem .2rem;
          border-radius: 4px;
          border: none;
          background-color: $lightGreen;
          font-weight: 600;
          color: $white;
          cursor: pointer;
          &:hover{
            background-color: darken($lightGreen,5%);
          }
          &:disabled{
            background-color: darken($light,10%);
            color: $dark;
            cursor: not-allowed;
            &:hover{
              background-color: darken($light,10%);
            }
          }
        }
      }
    }
  }
}
