@import "../../../variables";
.datatable{
  height: 100%;
  table{
    text-align: left;
    border: none;
    width: 100%;
    border-collapse: collapse;
    thead{
      border: none;
      background-color: $light;
      th{
        border: none;
        padding: 2rem 1rem;
        &:first-child{
          border-radius: 8px 0px 0px 8px;
        }
        &:last-child{
          border-radius: 0px 8px 8px 0px;
        }
      }
    }
    tbody{
      tr{
        position: relative;
        &:first-child{
          border-radius: 8px 0px 0px 8px;
        }
        &:last-child{
          border-radius: 0px 8px 8px 0px;
        }
        &:hover{
          transform: scale(1.001) translateY(-1px);
          &:after{
            content: '';
            position: absolute;
            left: 2px;
            right: 2px;
            top: 2px;
            bottom: 2px;
            background-color: rgba($green,2%);
            box-shadow: rgba($darkGreen,5%) 0px 3px 16px;
            z-index: -1;
            border-radius: 8px;
          }
        }
        td{
          padding: 1.5rem 1rem;
          .actions{
            button{
              padding: .5rem;
              margin: .1rem;
              border-radius: 4px;
              border: none;
              background-color: $lightGreen;
              font-weight: 600;
              color: $white;
              cursor: pointer;
              &:hover{
                transform: scale(1.01) scale(1.03);
              }
              &.edit{
                background-color: $blue;
              }
              &.delete{
                background-color: $red;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    border: none;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: $white;
    position: sticky;
    bottom: 0px;
    .page-size{
      select{
        margin-right: 1.5rem;
      }
      .results{
        font-weight: 600;
        font-size: 1rem;
      }
    }
    .paggination{
      display: flex;
      justify-content: space-between;
      align-items: center;
      select{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
      }
      .nav{
        margin-left: 1.5rem;
        button{
          padding: .7rem 1rem;
          margin: 0rem .2rem;
          border-radius: 4px;
          border: none;
          background-color: $lightGreen;
          font-weight: 600;
          color: $white;
          cursor: pointer;
          &:hover{
            background-color: darken($lightGreen,5%);
          }
          &:disabled{
            background-color: darken($light,10%);
            color: $dark;
            cursor: not-allowed;
            &:hover{
              background-color: darken($light,10%);
            }
          }
        }
      }
    }
  }
}
