.jumbotron{
  padding: .5rem 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  .title{
    font-size: 1.3rem;
    font-weight: 600;
    span{
      font-weight: 400;
      font-size: 1rem;
      opacity: .67;
    }
  }
}
