/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./globales";
html,body{
  font-size: 100%;
  font-family: 'tajawal';
  font-family: $fon-family;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}
section{
  width: 90%;
  margin: auto;
  > * {
    min-width: 350px;
    margin: auto;
  }
}
