@import "./app/variables";
/* You can add global styles to this file, and also import other style files */
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}
html, body { height: 100%; font-size: 16px; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }


select{
  border-radius: 8px;
  padding: .7rem 1rem;
  border: 1px solid rgba($dark,30%);
  color: rgba($dark,60%);
  font-size: .9rem;
}

form{
  min-width: 300px;
  width: 100%;
  margin: auto;
  .form-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // margin-bottom: .5rem;
    .form-group{
      margin: 1rem;
      margin-bottom: .5rem;
      margin-top: 0;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .form-group{
    width: 100%;
    margin-bottom: 1.5rem;
    > span{
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      font-size: .7rem;
      background-color: rgba($darkGreen, 10%);
      color: $darkGreen;
      padding: .5rem;
      border-radius: 8px;
      &:empty{
        display: none;
      }
    }
    .form-label{
      display: block;
      width: 100%;
      color: rgba($dark, 0.7);
      font-size: 1rem;
      margin-bottom: .7rem;
      cursor: pointer;
      &::after{
        content: ":";
      }
      img{
        background-color: rgba($dark,10%);
        padding: 2px;
        border-radius: 8px;
        &:hover{
          opacity: .5;
        }
      }
      &.null{
        &::after{
          // opacity: 0;
          content: "";
        }
      }
      &:empty{
        &::after{
          // opacity: 0;
          content: "";
        }
      }
    }
    .form-field{
      width: 100%;
      min-height: 3rem;
      padding: 0.5rem;
      text-align: left;
      border-radius: 4px;
      border:1px solid rgba($dark, 20%);
      &:disabled{
        opacity: 1 !important;
        background-color: rgba($darkGreen, 0.1);
      }
    }
    .form-button{
      width: 100%;
      padding: 1rem;
      text-align: center;
      border-radius: 4px;
      border:1px solid rgba($darkGreen, 20%);
      background-color: $darkGreen;
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      &:hover{
        background-color: $green;
        color: $white;
      }
    }
    .form-link{
      font-size: .9rem;
      color: rgba($dark, 70%);
      a{
        color: $darkGreen;
        text-decoration: underline;
        font-weight: 600;
        &:hover{
          color: $green;
        }
      }
    }
  }
}


button{
  border-radius: 8px;
  padding: .7rem 1rem;
  border: 1px solid rgba($dark,30%);
  color: $white;
  font-size: .9rem;
  cursor: pointer;
  border: none;
  background-color: $green;
}


section{
  width: 90%;
  margin: auto;
  > * {
    min-width: 350px;
    margin: auto;
  }
}
