form{
  .form-group{
    display: flex;
    justify-content: center;
    width: 100%;
    .left{
      width: 100%;
      app-inline-form-field{
        width: 100%;
      }
    }
    .right{
      width: 100%;
      app-inline-form-field{
        width: 100%;
      }
    }
    .full{
      width: 100%;
      app-inline-form-field{
        width: 100%;
      }
    }
  }
}
