@import "../../../variables";
.popup{
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($green, 20%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $light;
    border-radius: 8px;
    z-index: 2;
    min-width: 320px;
    width: 30vw;
    max-width: 700px;
    .content-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba($dark, 0.1);
      padding:1rem;
      .title{
        font-size: 1.5rem;
        font-weight: bold;
        color: darken($darkGreen, 10%);
        &.danger{
          color: darken($red, 10%);
        }
      }
    }
    .content-body{
      padding: 1rem;
    }
    .content-footer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-top: 1px solid rgba($dark, 0.1);
      padding: 1rem;
      .close{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: 4px;
        border: none;
        background-color: rgba($dark, 10%);
        font-size: .8rem;
        color: $dark;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
      }
      .delete{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: 4px;
        border: none;
        background-color:  $red;
        font-size: .8rem;
        color: $light;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
      }
      .update{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: 4px;
        border: none;
        background-color:  $blue;
        font-size: .8rem;
        color: $light;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
      }
      .save{
        padding: .5rem;
        margin-left: .5rem;
        border-radius: 4px;
        border: none;
        background-color:  $darkGreen;
        font-size: .8rem;
        color: $light;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
