@import "../../../globales";
.toaster{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($darkGreen,.4);
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  .toast{
    padding: 16px 8px;
    min-width: 500px;
    min-height: 70px;
    width: fit-content;
    height: fit-content;
    background-color: $light;
    text-align: center;
    // position: fixed;
    // left: 50%;
    // top:50%;
    // transform: translate(-50%);
    border-radius: 8px;
    box-shadow: rgba($darkGreen,.3) 0px 16px 32px;
    z-index: 100;
    p{
      margin-left: 5px;
    }
    animation: bounce-in .7s ease ;
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}
