@import '../../../globales';
.holder{
  width: 60%;
  margin: 32px auto 64px auto;
  .grid{
    margin: auto;
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    // grid-template-rows: repeat(3,1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .grid-item{
      padding: 10px;
      min-width: 300px;
      width: 33%;
      .item{
      }
    }
  }
  .empty {
    text-align: center;
    padding: 16px 32px;
    border-radius: 8px;
    border: 1px solid #009b0fa3;
    background-color: #00c42138;
    color: #009b0f;
    opacity: .7;
  }
  .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .pages{
      display: flex;
      justify-content: space-between;
      max-width: 500px;
      .page{
        padding: 2px;
        .page-btn{
          cursor: pointer;
          padding: 8px;
          font-size: 1rem;
          color: $light;
          background-color: $lightGreen;
          border:none;
          border-radius: 2px;
          &.active{
            background-color: $green;
          }
          &:hover{

          }
        }
      }
    }
    .load-more{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
