// $green : #00c421;
// $darkGreen: #009b0f;
// $lightGreen: #91ff91;
// $dark: #003710;
// $red: #c40000;
// $light:#ffffff;
// $fon-family:'Poppins', sans-serif;
$green : #4a69bd;
$darkGreen: darken($green, 10%);
$lightGreen: lighten($green,10%);
$dark: darken($green, 30%);
$red: #900;
$light:#ffffff;
$fon-family:'Poppins', sans-serif;
