@import "../../../globales";
.login{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: rgba($green,.1);
    clip-path: circle(50% at 100% 0%);
    width: 50%;
    min-width: 250px;
    height: 100%;
    top: 0;
    right: 0;
  }
  &::after{
    content: "";
    position: absolute;
    background-color: rgba(74, 105, 189, 0.1);
    clip-path: circle(40% at 0% 100%);
    width: 50%;
    min-width: 250px;
    height: 100%;
    bottom: 0%;
    left: 0;
  }
  section{
    .content{
      margin: 64px auto;
      max-width: 1000px;
      form{
        .form-group{
          display: flex;
          justify-content: center;
          width: 100%;
          .left{
            width: 100%;
            app-inline-form-field{
              width: 100%;
            }
          }
          .right{
            width: 100%;
            app-inline-form-field{
              width: 100%;
            }
          }
          .full{
            width: 100%;
            app-inline-form-field{
              width: 100%;
            }
          }
        }
      }
    }

  }
}
