@import "../../../globales";
.image-holder{
  min-width: 300px;
  width: 50vw;
  max-width: 700px;
  padding-top: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
  animation: lazyBounce 2s infinite alternate ease-in-out;
  position: relative;
}

@keyframes lazyBounce {
  0%{transform: translateY(-7.5px) scale(1);}
  // 0%{transform: translateY(5px) scale(1);}
  100%{transform: translateY(-15px) scale(1.01);}
}
