<div class="dashboard">
  <header>
    <a  [routerLink]="['/dashboard']" class="brand">FixMyCity</a>
    <div class="profile">
      <span>
        <span class="fullname">Darren Ritchie</span>
        <a  [routerLink]="['profil']">Edit profile</a>
      </span>
      <img src="../../assets/profile.png" alt="profile avatar">
    </div>
  </header>
  <div class="content">
    <aside>
      <ul>
        <li class="active"><a  [routerLink]="['/dashboard']"><img src="../../assets/icon-menu.png" alt="Dashboard home"><span>Dashboard</span></a></li>
        <li><a [routerLink]="['reports']"><img src="../../assets/icon-key.png" alt="Reports"><span>Reports</span></a></li>
        <li><a [routerLink]="['problems']"><img src="../../assets/icon-file.png" alt="Problems"><span>Problems</span></a></li>
        <li><a [routerLink]="['administrations']"><img src="../../assets/icon-group.png" alt="Administration"><span>Administrations</span></a></li>
        <li><a [routerLink]="['specialisations']"><img src="../../assets/icon-group.png" alt="Specialisation"><span>specialisations</span></a></li>
      </ul>
      <ul>
        <li><a [routerLink]="['settings']"><img src="../../assets/icon-settings.png" alt="Settings"><span>Settings</span></a></li>
        <li><a (click)="logoutUser()" ><img src="../../assets/icon-exit.png" alt="Logout"><span>Logout</span></a></li>
      </ul>
    </aside>
    <main>
      <div class="body">
        <router-outlet></router-outlet>
      </div>
      <footer>
        <div class="credit">© FixMyCity.com {{ thisYear }}</div>
        <div class="links">
          <a  [routerLink]="['/privacy']">Privacy</a>
          <a  [routerLink]="['/terms']">Terms</a>
          <a  [routerLink]="['/about']">About</a>
        </div>
      </footer>
    </main>
  </div>
</div>
