<div class="dashboard">
  <header>
    <a href="/dashboard" class="brand">FixMyCity</a>
    <div class="profile">
      <span>
        <span class="fullname">Darren Ritchie</span>
        <a href="/dashboard/profile">Edit profile</a>
      </span>
      <img src="../../assets/profile.png" alt="profile avatar">
    </div>
  </header>
  <div class="content">
    <aside>
      <ul>
        <li class="active"><a href=""><img src="../../assets/icon-menu.png" alt="#"><span>Dashboard</span></a></li>
        <li><a href="#"><img src="../../assets/icon-key.png" alt="#"><span>Reports</span></a></li>
        <li><a href="#"><img src="../../assets/icon-file.png" alt="#"><span>Problems</span></a></li>
        <li><a href="#"><img src="../../assets/icon-group.png" alt="#"><span>Centers</span></a></li>
      </ul>
      <ul>
        <li><a href="#"><img src="../../assets/icon-settings.png" alt="#"><span>Settings</span></a></li>
        <li><a href="#"><img src="../../assets/icon-exit.png" alt="#"><span>Logout</span></a></li>
      </ul>
    </aside>
    <main>
      <div class="bradcrump">
        <div class="title">FixMyCity <span>Overview</span></div>
        <div class="actions"></div>
      </div>
      <div class="stats">
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>22</span>
            <span class="label">Registred users</span>
          </div>
        </div>
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>150</span>
            <span class="label">Problem solved</span>
          </div>
        </div>
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>72</span>
            <span class="label">Problem reported</span>
          </div>
        </div>
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>13</span>
            <span class="label">Problem gategories</span>
          </div>
        </div>
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>90</span>
            <span class="label">App user</span>
          </div>
        </div>
        <div class="stat">
          <div class="icon">D</div>
          <div class="number">
            <span>2</span>
            <span class="label">App manager</span>
          </div>
        </div>
      </div>
      <div class="datatable">
        <app-datatable></app-datatable>
      </div>
    </main>
  </div>
</div>
