@import "../variables.scss";
.dashboard {
  min-height: 100%;
  width: 100%;
  header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    .brand{
      color: $green;
      font-weight: 600;
      text-decoration: none;
      font-size: 1.5rem;
      &::after{
        content: ".com";
        color: rgba($darkGreen, 0.5);
        font-weight: 100;
      }
    }
    .profile{
      display: flex;
      align-items: center;
      > span{
        margin-right: 1rem;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;
        font-size: .8rem;
        .fullname{
          font-weight: 600;
          font-size: 1rem;
        }
        a{
          text-decoration: none;
          color: darken($darkGreen, 50%);
          font-size: .7rem;
        }
      }
    }
  }
  .content{
    display: flex;
    align-items: stretch;
    height: calc(100vh - 70px);
    aside{
      padding-top: 3rem;
      width: 300px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      ul{
        padding: 0;
        li{
          a{
            display: flex;
            align-items: center;
            padding: 1.5rem 2rem;
            text-decoration: none;
            color: rgba($dark, 0.7);
            cursor: pointer;
            user-select: none;
            span{
              margin-left: 1rem;
            }
          }
          &:hover{
            background-color: rgba($green, 0.1);
          }
          &.active{
            // background-color: rgba($green, 0.1);
            position: relative;
            border-left: 8px solid transparent;
            a{
              color: $green;
            }
            &::before{
              content: "";
              position: absolute;
              top: 10%;
              left: 5px;
              width: 5px;
              border-radius: 4px;
              height: 80%;
              background-color: $green;
              z-index: -1;
            }

          }
        }
      }
    }
    main{
      height: 100%;
      width: calc(100% - 300px);
      overflow-y: auto;
      padding-top: 3rem;
      padding-right: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      footer{
        // position: sticky;
        // bottom: 0;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        .credit{
          font-size: .8rem;
          font-weight: 400;
          color: rgba($dark, 0.7);
        }
        .links{
          display: flex;
          align-items: center;
          a{
            margin-right: 1rem;
            text-decoration: none;
            font-size: .8rem;
            font-weight: 400;
            color: rgba($dark, 0.7);
          }
        }
      }
    }
  }
}
