<div class="section left">
  <section>
    <div class="details">
      <app-front-title [title]="['Fix','My City']" [slug]="'A modern way to urbenize your city'"></app-front-title>
      <p>C'est un fait établi depuis longtemps qu'un lecteur sera distrait par le contenu lisible d'une page en regardant sa mise en page. L'intérêt d'utiliser le Lorem Ipsum est qu'il présente une distribution plus ou moins normale des lettres, par opposition à l'utilisation de "Contenu ici, contenu ici", ce qui lui donne l'apparence d'un anglais lisible. De nombreux logiciels de publication assistée par ordinateur et éditeurs de pages Web utilisent désormais le Lorem Ipsum comme modèle de texte par défaut, et une recherche sur "lorem ipsum" permet de découvrir de nombreux sites Web qui en sont encore à leurs débuts.</p>
      <app-front-button [class]="['small']" [link]="'/projects'" [title]="'Our projects'"></app-front-button>
    </div>
    <div>
      <app-image-holder [src]="'https://www.pngkey.com/png/full/291-2917528_designed-by-freepik-transparent-smart-city.png'"></app-image-holder>
    </div>
  </section>
</div>
<div class="section right">
  <section>
    <div class="details">
      <app-front-title [title]="['Our ','Goal']" [slug]="'A centralized transparency   community dashboard'"></app-front-title>
      <div>
        <ul class="fasts">
          <li>Your municipality will never be perfect at everything.</li>
          <li>Local governments simply do not have the budget to be perfect at everything.</li>
          <li>If a municipality can’t clearly explain where it’s at as a city, citizens will have a hard time trusting their local government.</li>
        </ul>
        <p>All of these facts beg a simple question—what can a local government do to create an air of transparency while still demonstrating that they are moving forward?
          One of the best things to do is to create a community dashboard.</p>
          A community dashboard shows citizens:
        <ul>
          <li>How a municipality is doing.</li>
          <li>What the municipality is working toward.</li>
          <li>How the municipality is taking steps in the right direction.</li>
        </ul>
      </div>
      <div class="counter">
        <div class="">
          <span class="number">17</span>
          <span class="tag">Orpholinat</span>
        </div>
        <div class="">
          <span class="number">134</span>
          <span class="tag">Orpholinat</span>
        </div>
        <div class="">
          <span class="number">73</span>
          <span class="tag">Orpholinat</span>
        </div>
        <div class="">
          <span class="number">61</span>
          <span class="tag">Orpholinat</span>
        </div>
      </div>
    </div>
    <div>
      <app-image-holder [src]="'https://cdni.iconscout.com/illustration/premium/thumb/isometric-city-5154979-4326819.png'"></app-image-holder>
    </div>
  </section>
</div>
<div class="section ">
  <section>
    <div class="details">
      <app-front-title [title]="['Our ','Focus']" [slug]="'7 important focus projects'"></app-front-title>
      <div>
        <ul>
          <li>Community and neighborhood livability</li>
          <li>Culture and reaction</li>
          <li>Economic health</li>
          <li>Environmental health</li>
          <li>Hight preforming governement</li>
          <li>Safe community</li>
          <li>Transportation</li>
        </ul>
      </div>
    </div>
    <div>
      <app-image-holder [src]="'https://www.pngkey.com/png/full/129-1291404_3d-city-icons-2-5d.png'"></app-image-holder>
    </div>
  </section>
</div>
<div>
    <app-front-title [title]="['Our ','Projects']" [class]="['center']" [slug]="'More than 17 project on ground'"></app-front-title>
    <app-front-gellery [cards]="projects" [pageSize]="6" [pagination]="true"></app-front-gellery>
</div>
