<div class="project">
  <section>
   <div class="thumbnail" [style]="'background-image: url('+project.img+');'"></div>
   <div class="title">
     <app-title [title]="['',project.title]" [slug]="''"></app-title>
     <p>{{ 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores exercitationem repellat praesentium dolorum ab nobis veritatis eum adipisci quidem quam ullam veniam eveniet eius accusantium dolorem, sunt iusto quasi in.'.substr(0,150)+'...' }}</p>
     <div class="actions">
       <app-button-normal (click)="setVote()" *ngIf="!vote" [title]="'Vote'" [class]="['small','green']"></app-button-normal>
       <app-button-normal (click)="setVote()" *ngIf="vote" [title]="'Un vote'" [class]="['small','red']"></app-button-normal>
      </div>
   </div>
  </section>
  <section class="about">
    <app-title [title]="['About','project: ']" [class]="['small']" [slug]="''"></app-title>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae repellat quas at ad perspiciatis tempore, itaque rerum sapiente atque vero quis odit aliquid amet, quibusdam aliquam pariatur ullam maxime debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste accusantium, labore laudantium omnis amet numquam fugit perspiciatis quidem quos asperiores dolore optio vel sit sunt culpa nisi quaerat, quis ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nisi vitae consequatur enim sint possimus aut vel, deleniti labore voluptate natus voluptatem quia saepe ad! Aspernatur autem incidunt excepturi animi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae repellat quas at ad perspiciatis tempore, itaque rerum sapiente atque vero quis odit aliquid amet, quibusdam aliquam pariatur ullam maxime debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste accusantium, labore laudantium omnis amet numquam fugit perspiciatis quidem quos asperiores dolore optio vel sit sunt culpa nisi quaerat, quis ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nisi vitae consequatur enim sint possimus aut vel, deleniti labore voluptate natus voluptatem quia saepe ad! Aspernatur autem incidunt excepturi animi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae repellat quas at ad perspiciatis tempore, itaque rerum sapiente atque vero quis odit aliquid amet, quibusdam aliquam pariatur ullam maxime debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste accusantium, labore laudantium omnis amet numquam fugit perspiciatis quidem quos asperiores dolore optio vel sit sunt culpa nisi quaerat, quis ut? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nisi vitae consequatur enim sint possimus aut vel, deleniti labore voluptate natus voluptatem quia saepe ad! Aspernatur autem incidunt excepturi animi?</p>
  </section>
  <section class="map">
    <app-title [title]="['Project','Geolocalisation:']" [class]="['small']" [slug]="''"></app-title>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52942.47759297061!2d-6.892367995407536!3d33.969285049953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76b871f50c5c1%3A0x7ac946ed7408076b!2sRabat!5e0!3m2!1sen!2sma!4v1654211671505!5m2!1sen!2sma" width="100%" height="500" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <section class="contractor">
    <app-title [title]="['About','Contractor:']" [class]="['small']" [slug]="''"></app-title>
    <div class="grid">
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Name: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Field of work: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Years of experience: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Number of employees: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Address: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
      <div class="box"><div class="div">
        <div class="title"><app-title [title]="['','Phone nombers: ']" [class]="['smaller']" [slug]="''"></app-title></div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatem sed non eum eius? Officia tenetur omnis repellendus facilis veniam beatae laborum, esse facere delectus aspernatur vitae nihil incidunt natus.</span>
      </div></div>
    </div>
  </section>
  <app-toast [title]="'Vote added'" [content]="'Thanks for votting for this project'" *ngIf="showToast && vote"></app-toast>
  <app-toast [title]="'Vote removed'" [content]="'Your vote is removed for thid project'" *ngIf="showToast && !vote"></app-toast>
</div>
