@import "../../../globales";
.button-holder{
  width: 100%;
  margin: auto;
  .button-normal{
    text-decoration: none;
    display: block;
    text-align: center;
    border: none;
    color: $light;
    background-color: $green;
    border-radius: 2px;
    width: fit-content;
    &:hover{
      background-color: $darkGreen;
      cursor: pointer;
      box-shadow: rgba($darkGreen, .3) 0px 3px 8px;
      transform: translateY(-2px);
    }
    &.full{
      width: 100%;
      font-size: 1.3rem;
      padding: 14px 32px;
    }
    &.rounded{
      border-radius: 16px;
    }
    &.large{
      font-size: 1.3rem;
      padding: 14px 32px;
    }
    &.small{
      font-size: 1rem;
      padding: 8px 32px;
    }
    &:disabled{
      opacity: .5;
      transform: none;
      box-shadow: none;
      background-color: $green;
      cursor: not-allowed;
    }
    &.center{
      // margin-left: auto;
      // margin-right: auto;
      // display: contents;
      align-self: center;
    }
    &.green{
      background-color: green;
      // color: rgba($darkGreen, 1);
    }
  }
}
