<div class="news-letter">
  <form action="action" method="method">
    <div class="title">
      <app-front-title [title]="['Hear from',' us']" [slug]="'Follow us now by subscribing to our news letter'" ></app-front-title>
    </div>
    <div class="form">
      <app-front-form-control [placeholder]="'Your email address...'" [hint]="'Your infos are always in safe, we won\'t share your e-mail with anyone.'" [type]="'email'" [actionTitle]="'Subscribe'"></app-front-form-control>
    </div>
  </form>
</div>
