<form action="" (submit)="send($event)">
  <div class="form-group">
    <div class="left">
      <app-inline-form-field [type]="'text'" (value)="setValue('name',$event)" [name]="'name'" [button]="false" [placeholder]="'Your full name...'" [hint]="''"></app-inline-form-field>
    </div>
    <div class="right">
      <app-inline-form-field (value)="setValue('email',$event)" [name]="'email'" [type]="'email'" [button]="false" [placeholder]="'Your email address...'" [hint]="'Will be used to contact you back'"></app-inline-form-field>
    </div>
  </div>
  <div class="form-group">
    <div class="full">
      <app-inline-form-field [type]="'text'" (value)="setValue('subject',$event)" [name]="'subject'" [button]="false" [placeholder]="'Your message subject...'" [hint]="''"></app-inline-form-field>
    </div>
  </div>
  <div class="form-group">
    <div class="full">
      <app-inline-form-field (value)="setValue('message',$event)" [name]="'message'" [type]="'textarea'" [button]="false" [placeholder]="'Your message body...'" [hint]="''"></app-inline-form-field>
    </div>
  </div>
  <div class="form-group">
    <div class="full">
      <app-button-normal [class]="['full']" [title]="'Send'" ></app-button-normal>
    </div>
  </div>
</form>
