@import "../../../variables.scss";
.header{
  height: 50px;
  width: 100%;
  background-color: $light;
  box-shadow: rgba($darkGreen,.1) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 99;
  header{
    width: 90vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand{
      a{
        text-decoration: none;
        color: $darkGreen;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .nav{
      width: 50%;
      min-width: 300px;
      max-width: 500px;
      ul{
        list-style: none;
        // display: flex;
        // justify-content: space-between;
        li{
          display: inline-flex;
          align-items: center;
          list-style: none;
          height: 50px;
          position: relative;
          color: $dark;
          transition: 0s;
          // border-bottom: 1px solid $darkGreen;
          cursor: pointer;
          a{
            text-decoration: none;
            font-size: 1rem;
            color: inherit;
            z-index: 1;
            padding: 8px 16px;
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
          }
          &::after{
            content: '';
            position: absolute;
            bottom: 0;
            background-color: $green;
            width: 80%;
            height: 0px;
            border-radius: 50% / 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transition: .3s;
            left: 10%;
            right: 10%;
          }
          &:hover{
            color: $light;
            &::after{
              height: 100%;
              width: 100%;
              left: 0;
              right: 0;
              border-radius: 0%;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              // border-radius: 0px;
            }
          }
          &.active{
            color: $darkGreen;
            cursor: not-allowed;
            &::after{
              background-color: $darkGreen;
              height: 5px;
              width: 100%;
              left: 0;
              border-radius: 50% / 100%;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }
}
